altair
anyio
argon2-cffi
arviz
asttokens
async-lru
attrs
babel
backcall
bcrypt
beautifulsoup4
bleach
blinker
brotli
cachetools
certifi
cffi
charset-normalizer
click
cmdstanpy
colorama
comm
contourpy
cycler
Cython
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
fonttools
gitdb
GitPython
h11
h5netcdf
h5py
holidays
httpcore
httpx
idna
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
Jinja2
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter-client
jupyter-core
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib==3.9.4
matplotlib-inline
mistune
munkres==1.1.4
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
numpy
olefile
overrides
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
platformdirs
plotly
prometheus-client
prompt-toolkit
prophet
protobuf==4.23.3
psutil
pure-eval
pyarrow==11.0.0
pycparser
Pygments
pyparsing
PySocks
pystan==2.19.1.1
python-dateutil
python-json-logger
pytz
pywin32==308
pywinpty
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scipy
Send2Trash
six
smmap
sniffio
soupsieve
stack-data
stanio
streamlit
tenacity
terminado
tinycss2
toml
tomli
tornado
tqdm
traitlets
typing-extensions
tzdata
unicodedata2
urllib3
watchdog
wcwidth
webencodings==0.5.1
websocket-client
win-inet-pton
xarray
xarray-einstats
zipp
